<!DOCTYPE html>
<html>
<head>
    <title>Betterwood Merge Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="${static_url('css/bootstrap.min.css')}" rel="stylesheet">
    <link href="${static_url('css/ripples.min.css')}" rel="stylesheet">
    <link href="${static_url('css/material-wfont.min.css')}" rel="stylesheet">
    <script src="${static_url('js/angular.js')}"></script>
    
    ${self.head()}
    <style type="text/css" media="screen">
        ${self.css()}
    </style>
</head>
<body
    ${self.body_define()}
    >
    <header>
        ${self.header()}
    </header>

    <content>
        ${self.content()} 
    </content>

    <footer>
        ${self.footer()}
    </footer>
    
    <script src="${static_url('js/jquery.min.js')}"></script>
    <script src="${static_url('js/jquery.min.map')}"></script>
    <script src="${static_url('js/bootstrap.min.js')}"></script>
    <script src="${static_url('js/material.min.js')}"></script>
    <script src="${static_url('js/ripples.min.js')}"></script>
    <script src="${static_url('js/ui-bootstrap-tpls-0.11.2.min.js')}"></script>

    ${self.end()}

    <script>
        $(document).ready(function() {
            $.material.init();
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        ${self.js()}
    </script>

</body>
</html>

<%def name="js()">
</%def>
<%def name="css()">
</%def>

<%def name="content()">
</%def>
<%def name="header()">
</%def>
<%def name="footer()">
</%def>
<%def name="head()">
</%def>
<%def name="end()">
</%def>
<%def name="body_define()">
</%def>
