# -*- coding: utf-8 -*-

<%inherit file="nav_frame.html" />

<%!
from models.hotel_mapping import HotelMappingModel
from models.room_type_mapping import RoomTypeMappingModel
%>

<%def name="body_define()">
    ng-app="validapp"
    ng-controller="validController"
</%def>

<%def name="content()" >

<div class="container">
    <div class="cow" style="margin-top: 20px">
        <div class="col-lg-3">
            <select class="form-control"
                data-ng-model="searchProvider"
                style="margin-top:6px;">
                <option >任意</option>
                <option data-ng-repeat="provider in providers">{{provider.name}}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <input class="form-control floating-label" type="text"
                data-ng-model="searchHotelName"
                placeholder="酒店名称">
        </div>
        <div class="col-lg-3">
            <input class="form-control floating-label" type="text"
                data-ng-model="searchCityName"
                typeahead="city.name for city in citys | filter:$viewValue | limitTo:8"
                placeholder="城市">
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary pull-left" data-ng-click="search()" style="margin-top: -7px">搜索</button>
            <button class="btn btn-default pull-left" data-ng-click="resetSearch()" style="margin-top: -7px; margin-left: 5px">重置</button>
        </div>
    </div>

    <div class="row">
        <h4 class="col-md-6 title">供应商酒店</h3>
        <h4 class="col-md-6 title">基础酒店</h3>
    </div>

    <div class="row panel panel-default" ng-repeat="mapping in hotelMappings" ng-if="!mapping.is_delete">
        <div class=" panel-body clearfix">
            <div class="col-md-1 " style="margin-top:0; margin-buttom: 0;">
                <span class="glyphicon glyphicon-chevron-down" ng-click="mapping.isCollapsed = !mapping.isCollapsed" data-ng-show="mapping.roomtype_mappings.length > 0"></span>
                <p class="pull-right text-center" ng-bind="getProvider(mapping.provider_id).name"></p>
            </div>
            <div class="col-md-2 ">
                <p class="text-primary text-center" ><b>{{mapping.provider_hotel_name}}</b></p>
            </div>
            <div class="col-md-2 ">
                <p class="text-center" data-ng-bind="mapping.provider_hotel_address"></p>
            </div>

            <div class="col-md-1 ">
                <span class="span-center glyphicon glyphicon-arrow-right"></span>
            </div>

            <div class="col-md-2 " style="margin-top:0; margin-buttom: 0;">
                <b><a class="text-center text-primary"  data-ng-click="showHotelInfo(mapping)">{{showMainHotelName(mapping)}}</a></b>
            </div>
            <div class="col-md-2 ">
                <p class="text-center" data-ng-bind="mapping.main_hotel.address"></p>
            </div>
            <div class="col-md-2 ">
                <button class="btn btn-primary btn-raised pull-right" style="margin: 0;" data-ng-click="setValid(mapping)" data-ng-show="mapping.status == ${HotelMappingModel.STATUS.wait_first_valid}">通过</button>
            </div>
        </div>

        <div class="panel-footer" collapse="mapping.isCollapsed || mapping.roomtype_mappings.length == 0">
            <div class="row" style="margin: 10px;" ng-repeat="room_mapping in mapping.roomtype_mappings">
                <div class="col-sm-1">
                    <p ng-cloak>{{ room_mapping.provider_roomtype_id }}</p>
                </div>
                <div class="col-sm-2">
                    <a class="text-center text-primary" data-ng-click="showRoomType(room_mapping)" ng-cloak><b>{{ room_mapping.provider_roomtype_name }}</b></a>
                </div>
                <div class="col-sm-1">
                    <span class="span-center glyphicon glyphicon-arrow-right"></span>
                </div>
                <div class="col-sm-2">
                    <a class="text-center text-primary" data-ng-click="showRoomType(room_mapping)" ng-cloak><b>{{ room_mapping.main_roomtype.name }}</b></a>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-default  btn-sm room-mapping-btn"
                    data-ng-click="changeRoomType(room_mapping)"
                    data-ng-show="room_mapping.status <= ${RoomTypeMappingModel.STATUS.wait_first_valid}"
                    ng-disabled="mapping.status <= ${HotelMappingModel.STATUS.wait_first_valid}" >Change</button>
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                    <button class="btn btn-primary btn-sm room-mapping-btn"
                        data-ng-disabled="room_mapping.main_roomtype_id == 0 ||  mapping.status <= ${HotelMappingModel.STATUS.wait_first_valid}"
                        data-ng-show="room_mapping.status <= ${RoomTypeMappingModel.STATUS.wait_first_valid}"
                        data-ng-click="validRoomMapping(room_mapping)" >
                        通过
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <nav style="text-align: center">
            <pagination ng-hide="searchMode" total-items="totalItems" ng-model="currentPage" boundary-links="true" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" ></pagination>
        </nav>
    </div>
</div>

<div class="modal" id="modal-hotel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">酒店信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-sm-2">名称:</label>
                    <p class="col-sm-10">{{dialogHotel.name}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">地址:</label>
                    <p class="col-sm-10">{{dialogHotel.address}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">酒店:</label>
                    <p class="col-sm-10">{{getCity(dialogHotel.city_id)}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">地区:</label>
                    <p class="col-sm-10">{{getDistrict(dialogHotel.district_id)}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">星级:</label>
                    <rating ng-model="dialogHotel.star" max="5" readonly="true"></rating>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-ng-click="showChangeHotelDialog()" data-ng-show="dialogHotel.status <= ${HotelMappingModel.STATUS.wait_first_valid}" >修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-change-hotel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改酒店</h4>
            </div>
            <div class="modal-body" cg-busy="hotelModalLoadingPromise">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">名称:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="hotel-input-name" placeholder="酒店名称" ng-model="changeHotel.name">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="control-label col-lg-3">星级:</label>
                                <div class="col-lg-4">
                                    <select class="form-control" ng-model="changeHotel.star" id="select_star">
                                        <option>任意</option>
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: -26px;">
                        <div class="col-lg-5">
                            <div class="from-group">
                                <label class="col-lg-3 control-label">城市:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"
                                        typeahead="city.name for city in citys | filter:$viewValue | limitTo:8"
                                        ng-model="changeHotel.cityName"  placeholder="城市" >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="from-group">
                                <label class="col-lg-3 control-label">地区:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"
                                        typeahead="district.name for district in districts_by_city | filter:$viewValue | limitTo:8"
                                        ng-model="changeHotel.districtName"  placeholder="地区" >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="from-group">
                                <button type="button" data-ng-click="searchHotel()" style="margin-top: -8px;" class="btn btn-default btn-raised" >搜索</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                    </div>
                </form>


                <div class="row" style="margin-top: 30px;" ng-if="searchHotels != undefined && searchHotels.length > 0" cg-busy="hotelLoadingPromise">
                    <div class="col-lg-12">
                        <div class="col-lg-4 col-lg-offset-1">
                            <b>酒店名称</b>
                        </div>
                        <div class="col-lg-1">
                            <b>星级</b>
                        </div>
                        <div class="col-lg-3">
                            <b>城市</b>
                        </div>
                        <div class="col-lg-3">
                            <b>地区</b>
                        </div>
                    </div>
                    <div class="col-lg-12" ng-repeat="hotel in searchHotels" >
                        <div class="col-lg-1">
                            <input type="radio" name="optionsHotels"  ng-click="selectHotel(hotel)" ng-value="hotel">
                        </div>
                        <div class="col-lg-4">
                            {{hotel.name}}
                        </div>
                        <div class="col-lg-1">
                            {{hotel.star}}
                        </div>
                        <div class="col-lg-3">
                            {{getCity(hotel.city_id)}}
                        </div>
                        <div class="col-lg-3">
                            {{getDistrict(hotel.district_id)}}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;"
##ng-if="searchHotels != undefined && searchHotels.length > 0"
                     >
                    <pagination
                        total-items="hotelTotalItems" ng-model="hotelCurrentPage"
                        boundary-links="true" rotate="false"
                        items-per-page="hotelItemsPerPage" max-size="hotelMaxSize"
                        ng-change="hotelPageChanged()" >
                    </pagination>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="saveChangeHotel()" >保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal-roomtype">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">房型信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h3 class="col-lg-5 col-lg-offset-2"><b>供应商</b></h3>
                    <h3 class="col-lg-5"><b>基础</b></h3>
                </div>
                <div class="row">
                    <label class="col-lg-2">名字:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.name}}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.name}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">面积:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.area}}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.area}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">床型:</label>
                    <p class="col-lg-5">{{getProviderBedNameByType(dialogProviderRoomType.bed_type)}}</p>
                    <p class="col-lg-5">{{getBedNameByType(dialogMainRoomType.bed_type)}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">楼层:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.floor }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.floor }}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">入住人数:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.capacity }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.capacity }}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">描述:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.description }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.description }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-change-roomtype">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">房型信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3><b>供应商</b></h3><br>
                            </div>
                            <div class="col-lg-6">
                                <h3><b>基础</b></h3><br>
                            </div>
                        </div>
                        <label>名字:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{providerDialogRoomType.name}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.name}}</p>
                            </div>
                        </div>
                        <label >面积:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p >{{providerDialogRoomType.area}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.area}}</p>
                            </div>
                        </div>
                        <label >床型:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{getProviderBedNameByType(providerDialogRoomType.bed_type)}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{getBedNameByType(changeDialogRoomType.bed_type)}}</p>
                            </div>
                        </div>
                        <label >楼层:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{providerDialogRoomType.floor }}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.floor }}</p>
                            </div>
                        </div>
                        <label>入住人数:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{providerDialogRoomType.capacity}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.capacity}}</p>
                            </div>
                        </div>
                        <label>描述:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{providerDialogRoomType.description}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.description}}</p>
                            </div>
                        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-ng-click="saveChangeRoomType()">保存</button>
            </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="btn-group-vertical">
                            <a class="btn btn-primary"ng-click="reloadChangeDialogRoomTypes()">刷新</a>
                            <a class="btn btn-primary" href={{getModifyBaseRoomTypeUrl(changeDialogRoomTypes)}} target="blank">添加</a>
                            <a class="btn btn-default"
                                style="text-align: left;"
                                data-ng-click="changeShowRoomType(roomtype)" ng-repeat="roomtype in changeDialogRoomTypes | orderBy: 'name'">
                                {{ showRoomTypeName(roomtype) }}
                            </a>
                            <a class="btn btn-primary" href={{getModifyBaseRoomTypeUrl(changeDialogRoomTypes)}} target="blank">添加</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</%def>


<%def name="css()">
${parent.css()}

h4.title {
    text-align: center;
}

.span-center {
    width: 100%;
    text-align: center;
}

p.text-center {
    margin: 0 0 0 0;
    text-align: center;
    verial-align: center;
}

.room-mapping-btn {
    margin: -7px 0px 0px 0px;
}

</%def>

<%def name="js()"> 

var validapp = angular.module('validapp', ['ui.bootstrap', 'cgBusy']);


validapp.controller('validController',
        ['$scope', '$http', '$location',
        function($scope, $http, $location) {


    $scope.totalItems = 0;
    $scope.currentPage = 0;
    $scope.itemsPerPage = 0;
    $scope.maxSize = 10;

    $scope.hotelMappings = [];
    $scope.providers = [];
    $scope.dialogMainRoomType = {};
    $scope.dialogProviderRoomType = {};
    $scope.changeDialogRoomType = {};
    $scope.providerDialogRoomType = {};
    $scope.changeDialogRoomTypes = [];
    $scope.dialogHotel = {};
    $scope.changeHotel = {};
    $scope.citys = [];
    $scope.searchHotels = [];
    $scope.districts_by_city = [];
    $scope.selectedHotel = undefined;

    $scope.hotelTotalItems = 0;
    $scope.hotelCurrentPage = 1;
    $scope.hotelItemsPerPage = 10;
    $scope.hotelMaxSize = 10;
    $scope.hotelLoadingPromise = null;
    $scope.hotelModalLoadingPromise = null;

    $scope.searchProvider = undefined;
    $scope.searchHotelName = undefined;
    $scope.searchCityName = undefined;

    var roomtypes = [];
    var currentEditRoomMapping = {};
    var currentEditHotelMapping = {};
    var districts = [];


    $http.get("/api/provider/")
        .success(function(resp) {
            if (resp.errcode == 0) {
                $scope.providers = resp.result.providers;
            } else {
                alert(resp.errmsg);
            }
        })
        .error(function() {
        });

    $http.get("/api/city")
        .success(function(resp) {
            if (resp.errcode == 0) {
                $scope.citys = resp.result.citys;
            }
        });
    $http.get("/api/district")
        .success(function(resp) {
            if (resp.errcode == 0) {
                districts = resp.result.districts;
            }
        });

    function loadHotelMappings(start, limit, provider_id, city_id, hotel_name) {
        var url = "/api/firstvalid?start=" + start + "&limit=" + limit;
        if (provider_id != undefined) {
            url += ("&provider_id=" + provider_id);
        }
        if (city_id != undefined) {
            url += ("&city_id=" + city_id);
        }
        if (hotel_name != undefined) {
            url += ("&hotel_name=" + hotel_name);
        }

        $http.get(url)
            .success(function(data) {
                console.log(data);
                if (data.errcode == 0) {
                    var result = data.result;
                    $scope.hotelMappings = result.hotel_mappings;
                    roomtypes = result.roomtypes;

                    $scope.totalItems = result.total;
                    $scope.currentPage = Math.floor(result.start / result.limit) + 1;
                    $scope.itemsPerPage = result.limit;
                } else {
                    alert(data.errmsg);
                }
            })
            .error(function(data, status){
                if (status != 0) {
                    alert("网络错误");
                }
            });
    }


    $scope.getModifyBaseRoomTypeUrl = function(roomtypes) {
        if (roomtypes.length > 0) {
            return "/hotel/" + roomtypes[0].hotel_id + "/roomtype/";
        } else {
            return "javascript: void(0)"
        }

    }

    $scope.showRoomType = function(mapping) {

        cloneRoomType(mapping.main_roomtype, $scope.dialogMainRoomType);
        cloneRoomType(mapping.provider_roomtype, $scope.dialogProviderRoomType);
        console.log('1111111')

        $('#modal-roomtype').modal({
            keyboard: true
        });
        $('#modal-roomtype').modal('show');
    }


    $scope.getDistrict = function(district_id) {
        for (var i = 0; i < districts.length; i++) {
            if (districts[i].id == district_id) {
                return districts[i].name;   
            }
        }
        return '';
    }
    $scope.getDistrictId = function(name) {
        for (var i = 0; i < districts.length; i++) {
            if (districts[i].name == name) {
                return districts[i].id;   
            }
        }
        return -1;
    }
    $scope.getCity = function(city_id) {
        for (var i = 0; i < $scope.citys.length; i++) {
            if ($scope.citys[i].id == city_id) {
                return $scope.citys[i].name;   
            }
        }
        return '';
    }

    $scope.getCityId = function(city) {
        for (var i = 0; i < $scope.citys.length; i++) {
            if ($scope.citys[i].name == city) {
                return $scope.citys[i].id;   
            }
        }
        return -1;
    }

    $scope.getProvider = function(id) {
        for (var i = 0; i < $scope.providers.length; i++) {
            var p = $scope.providers[i];
            if (id == p.id) {
                return p;
            }
        }
    }

    function getProviderId(provider_name) {
        for (var i = 0; i < $scope.providers.length; i++) {
            var provider = $scope.providers[i];
            if (provider.name == provider_name) {
                return provider.chain_id;
            }
        }

        return null;
    }

    $scope.setValid = function(mapping) {
        if(!confirm('Pass?')) {
            return;
        }
        $http.put("/api/firstvalid/hotel/" + mapping.id + "/valid/")
            .success(function(resp) {
                if (resp.errcode == 0) {
                    alert('success');
                    mapping.status = resp.result.status;
                } else {
                    alert(resp.errmsg);
                }

            })
            .error(function() {
                alert("network error");
            });
    }

    $scope.changeRoomType = function(roomMapping) {
        currentEditRoomMapping = roomMapping;
        $scope.changeDialogRoomTypes = getRoomTypesByHotelId(roomMapping.main_hotel_id);
        cloneRoomType(roomMapping.main_roomtype, $scope.changeDialogRoomType);
        cloneRoomType(roomMapping.provider_roomtype, $scope.providerDialogRoomType);
        $("#modal-change-roomtype").modal("show");
    }

    $scope.reloadChangeDialogRoomTypes = function() {
        var url = '/api/hotel/' + currentEditRoomMapping.main_hotel_id + '/roomtype/';
        $http.get(url)
            .success(function(resp) {
                if (resp.errcode == 0) {
                    console.log(resp);
                    mergeRoomTypes(resp.result.roomtypes);
                    $scope.changeDialogRoomTypes = getRoomTypesByHotelId(currentEditRoomMapping.main_hotel_id);
                } else {
                    alert(resp.errmsg);
                }

            })
            .error(function() {
                alert('读取失败');
            });
    }

    $scope.saveChangeRoomType = function() {
        if ($scope.changeDialogRoomType.name == undefined) {
            return;
        }

        var req = {'id': currentEditRoomMapping.id, 'main_roomtype_id': $scope.changeDialogRoomType.id};

        $http.put('/api/room_type/mapping/', req)
            .success(function(resp) {
                if (resp.errcode == 0) {
                    currentEditRoomMapping.main_roomtype = {};
                    cloneRoomType($scope.changeDialogRoomType, currentEditRoomMapping.main_roomtype);
                    currentEditRoomMapping.main_roomtype_id = currentEditRoomMapping.main_roomtype.id;
                    $("#modal-change-roomtype").modal("hide");
                } else {
                    alert(resp.errmsg);
                }
            })
            .error(function() {
                alert('network error');
            });
    }

    $scope.changeShowRoomType = function(roomType) {
        $scope.changeDialogRoomType.id = roomType.id;
        $scope.changeDialogRoomType.name = roomType.name;
        $scope.changeDialogRoomType.area = roomType.area;
        $scope.changeDialogRoomType.bed_type = roomType.bed_type;
        $scope.changeDialogRoomType.comments = roomType.comments;
        $scope.changeDialogRoomType.description = roomType.description;
        $scope.changeDialogRoomType.floor = roomType.floor;
        $scope.changeDialogRoomType.capacity = roomType.capacity;
    }


    function getRoomTypesByHotelId(hotel_id) {
        var r = [];
        for (var i = 0; i < roomtypes.length; i++) {
            var roomtype = roomtypes[i];
            if (roomtype.hotel_id == hotel_id) {
                r.push(roomtype);
            }
        }

        return r;
    }

    $scope.validRoomMapping = function(room_mapping) {
        if (!confirm("Pass?")) {
            return;
        }

        $http.put('/api/firstvalid/roomtype/' + room_mapping.id + '/valid/')
            .success(function(resp) {
                console.log(resp);
                if (resp.errcode == 0) {
                    room_mapping.status = resp.result.roomtype_mapping.status;
                } else {
                    alert(resp.errmsg);
                }
            })
            .error(function() {
                alert('network error');
            });
    }


    // change hotel
    $scope.showHotelInfo = function(hotelMapping) {
        var hotel = hotelMapping.main_hotel;
        currentEditHotelMapping = hotelMapping;

        $.extend($scope.dialogHotel, hotel);
        $scope.dialogHotel.status = hotelMapping.status;

        console.log(hotel)


        $('#modal-hotel').modal('show');
    }

    $scope.$watch('changeHotel.cityName', function() {
        city_id = $scope.getCityId($scope.changeHotel.cityName);
        $scope.districts_by_city = [];
        
        for (var i = 0; i < districts.length; i++) {
            if (districts[i].city_id == city_id) {
                $scope.districts_by_city.push(districts[i]);
            }
        }

    });

    $scope.selectHotel = function(hotel) {
        $scope.selectedHotel = hotel;
    }

    $scope.hotelPageChanged = function() {
        $scope.queryHotel();
    }

    $scope.searchHotel = function () {
        $scope.hotelCurrentPage = 1;
        $scope.hotelItemsPerPage = 10;
        $scope.queryHotel();
    }

    $scope.queryHotel = function() {
        var url = '/api/hotel/search?';
        var start = ($scope.hotelCurrentPage - 1) * $scope.hotelItemsPerPage
        var limit = $scope.hotelItemsPerPage;

        url += ('start=' + start + '&limit=' + limit + '&');

        var city_id = $scope.getCityId($scope.changeHotel.cityName);
        var district_id = $scope.getDistrictId($scope.changeHotel.districtName);
        var name = $scope.changeHotel.name;
        var star = $scope.changeHotel.star;


        if (city_id != -1) {
            url += 'city_id=' + city_id + '&';
        }
        if (district_id != -1) {
            url += 'district_id=' + district_id + '&';
        }
        if (name != undefined) {
            url += 'name=' + name + '&';
        }
        if (star != undefined && star != 'any') {
            url += 'star=' + star;
        }
        $scope.hotelLoadingPromise = $http.get(url)
            .success(function(resp) {
                if (resp.errcode == 0) {
                    $scope.searchHotels = resp.result.hotels;
                    $scope.hotelTotalItems = resp.result.total;
                    $scope.hotelItemsPerPage = resp.result.limit;
                    $scope.hotelCurrentPage = Math.floor(resp.result.start / resp.result.limit) + 1;
                    $scope.selectedHotel = undefined;
                } else {
                    alert(resp.errmsg);
                }
            })
            .error(function(){
                alert('network erroe');
            }) 

    }

    $scope.showChangeHotelDialog = function() {
        $scope.changeHotel = {};
        $scope.searchHotels = [];
        $scope.hotelTotalItems = 0;
        $scope.hotelCurrentPage = 1;
        $scope.hotelItemsPerPage = 10;
        $('#modal-hotel').modal('hide');
        $("#modal-change-hotel").modal('show');
    }


    $scope.saveChangeHotel = function() {
        var hotel = $scope.selectedHotel;
        console.log(hotel);
        if (hotel == undefined) {
            return;
        }
        req = {'hotel_mapping_id': currentEditHotelMapping.id, 'main_hotel_id': hotel.id}
        $scope.hotelModalLoadingPromise = $http.put("/api/hotel/mapping", req)
            .success(function(resp) {
                console.log(resp);
                if (resp.errcode == 0) {
                    $("#modal-change-hotel").modal('hide');
                    currentEditHotelMapping.main_hotel_id = hotel.id;
                    currentEditHotelMapping.main_hotel = hotel;
                    mergeRoomTypes(resp.result.room_types);
                    for (var i = 0; i < currentEditHotelMapping.roomtype_mappings.length; i++) {
                        var room_type_mapping = currentEditHotelMapping.roomtype_mappings[i];
                        room_type_mapping.main_hotel_id = hotel.id;
                        room_type_mapping.main_roomtype_id = 0;
                        room_type_mapping.status = 0;
                        room_type_mapping.main_roomtype = undefined;
                    }
                } else {
                    alert(resp.errmsg);
                }

            })
            .error(function() {
                alert('network error');
            });
    }

    function mergeRoomTypes(new_types) {
        var len = roomtypes.length;
        for (var i = 0; i < new_types.length; i++) {
            for (var j = 0; j < len; j++) {
                if (roomtypes[j].id == new_types[i].id) {
                    angular.copy(new_types[i], roomtypes[j]);
                    break;
                }
                if (j == len - 1) {
                    roomtypes.push(new_types[i]);
                }
            }
        }
    }

    $scope.pageChanged = function() {
        var params = $location.search();
        params.start = ($scope.currentPage - 1) * $scope.itemsPerPage;
        params.limit = $scope.itemsPerPage;
        $location.search(params);
    };



    $scope.$watch(function() {
        return $location.url();
    },
    function() {
        var params = $location.search();
        var start = params.start != undefined ? params.start : 0;
        var limit = params.limit != undefined ? params.limit : 10;
        var provider_id = params.provider_id;
        var city_id = params.city_id;
        var hotel_name = params.hotel_name;
        loadHotelMappings(start, limit, provider_id, city_id, hotel_name);

    });



    $scope.search = function() {
        console.log($scope.searchProvider);
        console.log($scope.searchHotelName);
        console.log($scope.searchCityName);

        var provider_id;
        if ($scope.searchProvider != 'any' || $scope.searchProvider != undefined) {
            provider_id = getProviderId($scope.searchProvider);
        } else {
            provider_id = null;
        }

        var city_id = $scope.getCityId($scope.searchCityName);

        var urlParams = {};
        
        if (provider_id != null) {
            urlParams.provider_id = provider_id;
        }
        if (city_id != -1) {
            urlParams.city_id = city_id;
        }
        if ($scope.searchHotelName != undefined) {
            urlParams.hotel_name = $scope.searchHotelName;
        }

        console.log(urlParams);
        $location.search(urlParams);
    }

    $scope.resetSearch = function() {
        $scope.searchProvider = 'any';
        $scope.searchHotelName = undefined;
        $scope.searchCityName = undefined;

        $location.search({});
    }

    function cloneRoomType(from, to) {
        if (from == undefined) {
            to.area = undefined;
            to.bed_type = undefined;
            to.capacity = undefined;
            to.comments = undefined;
            to.description = undefined;
            to.floor = undefined;
            to.id = undefined;
            to.is_online = undefined;
            to.is_valid = undefined;
            to.name = undefined;
        }
        $.extend(to, from);
    }

    $scope.getBedNameByType = getBedNameByType;
    $scope.getProviderBedNameByType = getProviderBedNameByType;

    $scope.showMainHotelName = function(hotel_mapping) {
        if (hotel_mapping.main_hotel == undefined) {
            return 'None';
        } else {
            return hotel_mapping.main_hotel.name;
        }
    }

    $scope.showRoomTypeName = function(roomtype) {
        if (roomtype.is_valid) {
            return roomtype.name + "    " + roomtype.id;
        } else {
            return "INVALID " + roomtype.name+ "    " + roomtype.id;
        }
    }
}]);

</%def>

<%def name="end()">
    ${parent.end()}
    <script src="${static_url('js/angular-busy.min.js')}"></script>
    <script src="${static_url('js/hotel_helper.js')}"></script>
</%def>

<%def name="head()">
    ${parent.head()}
    <link href="${static_url('css/angular-busy.min.css')}" rel="stylesheet">
</%def>
