# -*- coding: utf-8 -*-

<%inherit file="nav_frame.html" />

<%!
from models.hotel_mapping import HotelMappingModel
from models.room_type_mapping import RoomTypeMappingModel
%>

<%def name="body_define()">
    ng-app="validapp"
    ng-controller="validController"
</%def>

<%def name="content()" >

<div class="container">
    <div class="cow" style="margin-top: 20px">
        <div class="col-lg-3">
            <select class="form-control"
                data-ng-model="searchProvider"
                style="margin-top:6px;">
                <option >任意</option>
                <option data-ng-repeat="provider in providers">{{provider.name}}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <input class="form-control floating-label" type="text"
                data-ng-model="searchHotelName"
                placeholder="酒店名称">
        </div>
        <div class="col-lg-3">
            <input class="form-control floating-label" type="text"
                data-ng-model="searchCityName"
                typeahead="city.name for city in citys | filter:$viewValue | limitTo:8"
                placeholder="城市">
            <select ng-model="status" convert-to-number>
              <option value=-1>全部</option>
              <option value=1>未通过</option>
            </select>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary pull-left" data-ng-click="search()" style="margin-top: -7px">搜索</button>
            <button class="btn btn-default pull-left" data-ng-click="resetSearch()" style="margin-top: -7px; margin-left: 5px">重置</button>
            <button class="btn btn-primary pull-left" data-ng-click="search(true)" style="margin-top: -7px; margin-left: 5px">未匹配房型</button>
        </div>
    </div>

    <div class="row" ng-show="search_for_hotel">
        <h4 class="col-md-6 title">供应商酒店</h4>
        <h4 class="col-md-6 title">基础酒店</h4>
    </div>

    <div class="row" ng-hide="search_for_hotel">
        <h4 class="col-md-6 title">供应商房型</h4>
        <h4 class="col-md-6 title">基础房型</h4>
    </div>

    <div class="row panel pannel-default" ng-repeat="mapping in hotel_room_mappings" ng-if="!mapping.is_delete">
        <div class="col-sm-1">
            <p ng-cloak ng-bind="getProvider(mapping.provider_id).name"></p>
        </div>
        <div class="col-sm-2">
            <p class="text-primary text-center" ng-cloak><b ng-bind="mapping.provider_hotel_name"></b></p>
            <br>{{mapping.provider_hotel_id}}
            <br>{{mapping.provider_hotel_address}}
        </div>
        <div class="col-sm-2">
            <a class="text-center text-primary" data-ng-click="showRoomType(mapping.roomtype_mappings[0])" ng-cloak><b>{{ mapping.roomtype_mappings[0].provider_roomtype.name }}</b></a>
            <br/>{{mapping.roomtype_mappings[0].provider_roomtype_id}}
            <p>{{getBedNameByType(mapping.roomtype_mappings[0].provider_roomtype.bed_type)}}</p>
        </div>
        <div class="col-sm-1">
            <span class="span-center glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="col-sm-2">
            <b><a class="text-center text-primary"  data-ng-click="showHotelInfo(mapping)">{{showMainHotelName(mapping)}}</a></b><br/>
            <br>{{mapping.main_hotel.id}}
            <br>{{mapping.main_hotel.address}}
        </div>
        <div class="col-sm-2">
            <a class="text-center text-primary" data-ng-click="showRoomType(mapping.roomtype_mappings[0])" ng-cloak><b>{{ mapping.roomtype_mappings[0].main_roomtype.name }}</b></a>
            <br/>{{mapping.roomtype_mappings[0].main_roomtype_id}}
            <p>{{getBedNameByType(mapping.roomtype_mappings[0].main_roomtype.bed_type)}}</p>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default  btn-sm room-mapping-btn"
            data-ng-click="changeRoomType(mapping.roomtype_mappings[0])"
            data-ng-show="mapping.roomtype_mappings[0].status <= ${RoomTypeMappingModel.STATUS.wait_first_valid}"
            ng-disabled="mapping.status <= ${HotelMappingModel.STATUS.wait_first_valid}" >Change</button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary btn-sm room-mapping-btn"
                data-ng-disabled="mapping.roomtype_mappings[0].main_roomtype_id == 0 ||  mapping.status <= ${HotelMappingModel.STATUS.wait_first_valid}"
                data-ng-show="mapping.roomtype_mappings[0].status <= ${RoomTypeMappingModel.STATUS.wait_first_valid}"
                data-ng-click="validRoomMapping(mapping.roomtype_mappings[0])" >
                通过
            </button>
        </div>
    </div>

    <div class="row panel panel-default" ng-repeat="mapping in hotelMappings" ng-if="!mapping.is_delete">
        <div class=" panel-body clearfix">
            <div class="col-md-1 " style="margin-top:0; margin-buttom: 0;">
                <span class="glyphicon glyphicon-chevron-down" ng-click="mapping.isCollapsed = !mapping.isCollapsed" data-ng-show="mapping.roomtype_mappings.length > 0"></span>
                <p class="pull-right text-center" ng-bind="getProvider(mapping.provider_id).name"></p>
            </div>
            <div class="col-md-2 ">
                <p class="text-primary text-center" ><b>{{mapping.provider_hotel_name}}</b></p>
                {{mapping.provider_hotel_id}}
            </div>
            <div class="col-md-2 ">
                <p class="text-center" data-ng-bind="mapping.provider_hotel_address"></p>
            </div>

            <div class="col-md-1 ">
                <span class="span-center glyphicon glyphicon-arrow-right"></span>
            </div>

            <div class="col-md-2 " style="margin-top:0; margin-buttom: 0;">
                <b><a class="text-center text-primary"  data-ng-click="showHotelInfo(mapping)">{{showMainHotelName(mapping)}}</a></b><br/>
                {{mapping.main_hotel_id}}
            </div>
            <div class="col-md-2 ">
                <p class="text-center" data-ng-bind="mapping.main_hotel.address"></p>
            </div>
            <div class="col-md-2 ">
                <button class="btn btn-primary btn-raised pull-right" style="margin: 0;" data-ng-click="setValid(mapping)" data-ng-show="mapping.status == ${HotelMappingModel.STATUS.wait_first_valid}">通过</button>
            </div>
        </div>

        <div class="panel-footer" collapse="mapping.isCollapsed || mapping.roomtype_mappings.length == 0">
            <div class="row" style="margin: 10px;" ng-repeat="room_mapping in mapping.roomtype_mappings" ng-if="room_mapping.provider_roomtype.bed_type >= 0 && room_mapping.provider_roomtype.bed_type <= 12">
                <div class="col-sm-1">
                    <p ng-cloak>{{ room_mapping.provider_roomtype_id }}</p>
                </div>
                <div class="col-sm-2">
                    <a class="text-center text-primary" data-ng-click="showRoomType(room_mapping)" ng-cloak><b>{{ room_mapping.provider_roomtype_name }}</b></a>
                    <br/>{{room_mapping.provider_roomtype_id}}
                    <p>{{getBedNameByType(room_mapping.provider_roomtype.bed_type)}}</p>
                </div>
                <div class="col-sm-1">
                    <span class="span-center glyphicon glyphicon-arrow-right"></span>
                </div>
                <div class="col-sm-2">
                    <a class="text-center text-primary" data-ng-click="showRoomType(room_mapping)" ng-cloak><b>{{ room_mapping.main_roomtype.name }}</b></a>
                    <br/>{{room_mapping.main_roomtype_id}}
                    <p>{{getBedNameByType(room_mapping.main_roomtype.bed_type)}}</p>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-default  btn-sm room-mapping-btn"
                    data-ng-click="changeRoomType(room_mapping)"
                    data-ng-show="room_mapping.status <= ${RoomTypeMappingModel.STATUS.wait_first_valid}"
                    ng-disabled="mapping.status <= ${HotelMappingModel.STATUS.wait_first_valid}" >Change</button>
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                    <button class="btn btn-primary btn-sm room-mapping-btn"
                        data-ng-disabled="room_mapping.main_roomtype_id == 0 ||  mapping.status <= ${HotelMappingModel.STATUS.wait_first_valid}"
                        data-ng-show="room_mapping.status <= ${RoomTypeMappingModel.STATUS.wait_first_valid}"
                        data-ng-click="validRoomMapping(room_mapping)" >
                        通过
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <nav style="text-align: center">
            <pagination ng-hide="searchMode" total-items="totalItems" ng-model="currentPage" boundary-links="true" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" ></pagination>
            <input type="text" id="page_text" value="" size="5"  />
        </nav>
    </div>
</div>

<div class="modal" id="modal-hotel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">酒店信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-sm-2">名称:</label>
                    <p class="col-sm-10">{{dialogHotel.name}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">地址:</label>
                    <p class="col-sm-10">{{dialogHotel.address}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">酒店:</label>
                    <p class="col-sm-10">{{getCity(dialogHotel.city_id)}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">地区:</label>
                    <p class="col-sm-10">{{getDistrict(dialogHotel.district_id)}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">星级:</label>
                    <rating ng-model="dialogHotel.star" max="5" readonly="true"></rating>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn" href="/hotel/{{dialogHotel.id}}/roomtype/" target="blank" >房型</a>
                <button type="button" class="btn btn-danger" data-ng-click="showChangeHotelDialog()" data-ng-show="dialogHotel.status <= ${HotelMappingModel.STATUS.wait_first_valid}" >修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-change-hotel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改酒店</h4>
            </div>
            <div class="modal-body" cg-busy="hotelModalLoadingPromise">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">名称:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="hotel-input-name" placeholder="酒店名称" ng-model="changeHotel.name">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="control-label col-lg-3">星级:</label>
                                <div class="col-lg-4">
                                    <select class="form-control" ng-model="changeHotel.star" id="select_star">
                                        <option>任意</option>
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: -26px;">
                        <div class="col-lg-5">
                            <div class="from-group">
                                <label class="col-lg-3 control-label">城市:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"
                                        typeahead="city.name for city in citys | filter:$viewValue | limitTo:8"
                                        ng-model="changeHotel.cityName"  placeholder="城市" >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="from-group">
                                <label class="col-lg-3 control-label">地区:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"
                                        typeahead="district.name for district in districts_by_city | filter:$viewValue | limitTo:8"
                                        ng-model="changeHotel.districtName"  placeholder="地区" >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="from-group">
                                <button type="button" data-ng-click="searchHotel()" style="margin-top: -8px;" class="btn btn-default btn-raised" >搜索</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                    </div>
                </form>


                <div class="row" style="margin-top: 30px;" ng-if="searchHotels != undefined && searchHotels.length > 0" cg-busy="hotelLoadingPromise">
                    <div class="col-lg-12">
                        <div class="col-lg-4 col-lg-offset-1">
                            <b>酒店名称</b>
                        </div>
                        <div class="col-lg-1">
                            <b>星级</b>
                        </div>
                        <div class="col-lg-3">
                            <b>城市</b>
                        </div>
                        <div class="col-lg-3">
                            <b>地区</b>
                        </div>
                    </div>
                    <div class="col-lg-12" ng-repeat="hotel in searchHotels" >
                        <div class="col-lg-1">
                            <input type="radio" name="optionsHotels"  ng-click="selectHotel(hotel)" ng-value="hotel">
                        </div>
                        <div class="col-lg-4">
                            {{hotel.name}}
                        </div>
                        <div class="col-lg-1">
                            {{hotel.star}}
                        </div>
                        <div class="col-lg-3">
                            {{getCity(hotel.city_id)}}
                        </div>
                        <div class="col-lg-3">
                            {{getDistrict(hotel.district_id)}}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;"
##ng-if="searchHotels != undefined && searchHotels.length > 0"
                     >
                    <pagination
                        total-items="hotelTotalItems" ng-model="hotelCurrentPage"
                        boundary-links="true" rotate="false"
                        items-per-page="hotelItemsPerPage" max-size="hotelMaxSize"
                        ng-change="hotelPageChanged()" >
                    </pagination>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="saveChangeHotel()" >保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal-roomtype">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">房型信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h3 class="col-lg-5 col-lg-offset-2"><b>供应商</b></h3>
                    <h3 class="col-lg-5"><b>基础</b></h3>
                </div>
                <div class="row">
                    <label class="col-lg-2">名字:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.name}}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.name}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">面积:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.area}}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.area}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">床型:</label>
                    <p class="col-lg-5">{{getProviderBedNameByType(dialogProviderRoomType.bed_type)}}</p>
                    <p class="col-lg-5">{{getBedNameByType(dialogMainRoomType.bed_type)}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">楼层:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.floor }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.floor }}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">入住人数:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.capacity }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.capacity }}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">描述:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.description }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.description }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-change-roomtype">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">房型信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3><b>供应商</b></h3><br>
                            </div>
                            <div class="col-lg-6">
                                <h3><b>基础</b></h3><br>
                            </div>
                        </div>
                        <label>名字:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{providerDialogRoomType.name}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.name}}</p>
                            </div>
                        </div>
                        <label >面积:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p >{{providerDialogRoomType.area}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.area}}</p>
                            </div>
                        </div>
                        <label >床型:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{getProviderBedNameByType(providerDialogRoomType.bed_type)}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{getBedNameByType(changeDialogRoomType.bed_type)}}</p>
                            </div>
                        </div>
                        <label >楼层:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{providerDialogRoomType.floor }}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.floor }}</p>
                            </div>
                        </div>
                        <label>入住人数:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{providerDialogRoomType.capacity}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.capacity}}</p>
                            </div>
                        </div>
                        <label>描述:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{providerDialogRoomType.description}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p>{{changeDialogRoomType.description}}</p>
                            </div>
                        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-ng-click="saveChangeRoomType()">保存</button>
            </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="btn-group-vertical">
                            <a class="btn btn-primary"ng-click="reloadChangeDialogRoomTypes()">刷新</a>
                            <a class="btn btn-primary" href={{getModifyBaseRoomTypeUrl(changeDialogRoomTypes)}} target="blank">添加</a>
                            <a class="btn btn-default"
                                style="text-align: left;"
                                data-ng-click="changeShowRoomType(roomtype)" ng-repeat="roomtype in changeDialogRoomTypes | orderBy: 'name'">
                                {{ showRoomTypeName(roomtype) }}
                            </a>
                            <a class="btn btn-primary" href={{getModifyBaseRoomTypeUrl(changeDialogRoomTypes)}} target="blank">添加</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--loading-->
<div class="messageDiv" ng-show="ifloading" style="z-index:999999" ng-cloak>
    <div class="messageBlack">
        <img style="width: 90px;height: 90px;position: absolute;left: 50%;top: 50%;
             margin-top: -50px;margin-left: -50px;" src="${static_url('image/load1.gif')}"/>
    </div>
</div>
</%def>


<%def name="css()">
${parent.css()}

h4.title {
    text-align: center;
}

.span-center {
    width: 100%;
    text-align: center;
}

p.text-center {
    margin: 0 0 0 0;
    text-align: center;
    verial-align: center;
}

.room-mapping-btn {
    margin: -7px 0px 0px 0px;
}

</%def>

<%def name="end()">
    ${parent.end()}
    <script src="${static_url('js/angular-busy.min.js')}"></script>
    <script src="${static_url('js/hotel_helper.js')}"></script>
    <script src="${static_url('js/firstvalid.js')}"></script>
</%def>

<%def name="head()">
    ${parent.head()}
    <link href="${static_url('css/angular-busy.min.css')}" rel="stylesheet">
</%def>
