# -*- coding: utf-8 -*-

<%inherit file="nav_frame.html" />

<%!
from models.hotel_mapping import HotelMappingModel
from models.room_type_mapping import RoomTypeMappingModel
%>

<%def name="body_define()">
    ng-app="validapp"
    ng-controller="validController"
</%def>

<%def name="content()" >

<div class="container">
    <div class="cow" style="margin-top: 20px">
        
        <div class="col-lg-3">
            <input class="form-control floating-label" type="text"
                data-ng-model="searchHotelName"
                placeholder="酒店名称">
        </div>
        <div class="col-lg-3">
            <input class="form-control floating-label" type="text"
                data-ng-model="searchCityName"
                typeahead="city.name for city in citys | filter:$viewValue | limitTo:8"
                placeholder="城市">
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary pull-left" data-ng-click="search()" style="margin-top: -7px">搜索</button>
            <button class="btn btn-default pull-left" data-ng-click="resetSearch()" style="margin-top: -7px; margin-left: 5px">重置</button>
        </div>

        <div class="col-md-3" >
            <button type="buttion" class="btn btn-primary  withripple" style="position:absolute;right:0px;" ng-click="show()">+增加酒店</button>
        </div>

    </div>

    

    <div class="row">
        <h4 class="col-md-4 title">酒店名称</h3>
        <h4 class="col-md-1 title">星级</h3>
        <h4 class="col-md-1 title">城市</h3>
        <h4 class="col-md-4 title">地址</h3>
        <h4 class="col-md-1 title">维护</h3>
        <h4 class="col-md-1 title">操作</h3>
    </div>

    <div class="row panel panel-default" ng-repeat="searchHotels in searchHotels">
        <div class=" panel-body clearfix">
            
            <div class="col-md-4 ">
                <p class="text-primary text-center" ><b ng-bind="searchHotels.name"></b></p>
            </div>
            <div class="col-md-1 ">
                <p class="text-center" data-ng-bind="searchHotels.star"></p>
            </div>

            <div class="col-md-1 " style="margin-top:0; margin-buttom: 0;">
                <p class="text-center" ><b ng-bind="getCity(searchHotels.city_id)"></b></p>
            </div>
            <div class="col-md-4 ">
                <p class="text-center" data-ng-bind="searchHotels.address"></p>
            </div>
            <div class="col-md-1 ">
                <button class="btn btn-primary" style="margin: 0;" data-ng-click="roomtypeHref(searchHotels.id)">房型</button>
            </div>

            <div class="col-md-1 ">
                <button class="btn btn-primary" style="margin: 0;" data-ng-click="showRoomType(searchHotels,$index)">修改</button>
            </div>

        </div>       
    </div>
    <div class="row">
        <nav style="text-align: center">
            <pagination ng-hide="searchMode" total-items="totalItems" ng-model="currentPage" boundary-links="true" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" ></pagination>
        </nav>
    </div>
</div>


<div class="modal" id="modal-roomtype">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">酒店详情</h4>
            </div>
            <div class="modal-body">
                
                <div class="row rowstyle">
                    <label class="col-lg-3">酒店名字:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.name"/>
                </div>
                <div class="row rowstyle">
                    <label class="col-lg-3">星级:</label>
                    <select class="col-lg-4" ng-model="currentHotel.star">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="row rowstyle">
                    <label class="col-lg-3">百度经度:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.blog"/>
                </div>
                <div class="row rowstyle">
                    <label class="col-lg-3">百度纬度:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.blat"/>
                </div>
                <div class="row rowstyle">
                    <label class="col-lg-3">Google经度:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.glog"/>
                </div>
                <div class="row rowstyle">
                    <label class="col-lg-3">Google纬度:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.glat"/>
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">市:</label>
                    
                    <div class="col-lg-4">
                        <input class="form-control floating-label" type="text"
                        data-ng-model="changeHotelName"
                        typeahead="city.name for city in citys | filter:$viewValue | limitTo:8"
                        placeholder=" " ng-blur="cityBlur()">
                    </div>

                </div>
                <div class="row rowstyle">
                    <label class="col-lg-3">区:</label>
                    <select class="col-lg-4" ng-model="currentHotel.district_id" ng-options="c.id as c.name for c in changeDistrictName">
                       <!-- <option ng-repeat="district in changeDistrictName" value="district.id" ng-bind="district.name"></option>-->
                        
                    </select>
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">详细地址:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.address"/>
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">商圈:</label>
                    <select class="col-lg-4" ng-model="currentHotel.business_zone.id" ng-options="c.id as c.name for c in changeBusinessName">
                        <!--<option ng-repeat="businesszone in changeBusinessName" value="businesszone.id" ng-bind="businesszone.name"></option>-->
                        
                    </select>
                </div>
                <div class="row rowstyle">
                    <label class="col-lg-3">电话:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.phone"/>
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">交通:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.traffic"/>
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">描述:</label>
                    <input class="col-lg-4" type="text" ng-model="currentHotel.description"/>
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">酒店设施:</label>
                    <input class="col-lg-4" type="text" placeholder="用|分割" ng-model="currentHotel.facilities"/>
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">预定要求:</label>

                    <select class="col-lg-4" ng-model="currentHotel.require_idcard">
                        <option value="0">不需要身份证</option>
                        <option value="1">需要身份证</option>                                             
                    </select>
                    
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">外国人可否入住:</label>

                    <select class="col-lg-4" ng-model="currentHotel.foreigner_checkin">
                        <option value="1">可以入住</option>
                        <option value="0">不能入住</option>
                                                                     
                    </select>
                    
                </div>

                <div class="row rowstyle">
                    <label class="col-lg-3">运营状态:</label>

                    <select class="col-lg-4" ng-model="currentHotel.is_online">
                        <option value="0">停止</option>
                        <option value="1">正常</option>
                                               
                    </select>

                    
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="savetest()" data-dismiss="modal">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


</%def>


<%def name="css()">
${parent.css()}

h4.title {
    text-align: center;
}

.span-center {
    width: 100%;
    text-align: center;
}

p.text-center {
    margin: 0 0 0 0;
    text-align: center;
    verial-align: center;
}

.room-mapping-btn {
    margin: -7px 0px 0px 0px;
}

.rowstyle{
    margin-top: 10px;
}

</%def>

<%def name="js()"> 

var validapp = angular.module('validapp', ['ui.bootstrap', 'cgBusy']);


validapp.controller('validController',
        ['$scope', '$http', '$location',
        function($scope, $http, $location) {


    $scope.totalItems = 0;
    $scope.currentPage = 0;
    $scope.itemsPerPage = 0;
    $scope.maxSize = 10;

    $scope.hotelMappings = [];
    $scope.providers = [];
    $scope.dialogMainRoomType = {};
    $scope.dialogProviderRoomType = {};
    $scope.changeDialogRoomType = {};
    $scope.providerDialogRoomType = {};
    $scope.changeDialogRoomTypes = [];
    $scope.dialogHotel = {};
    $scope.changeHotel = {};
    $scope.citys = [];
    $scope.searchHotels = [];
    $scope.districts_by_city = [];
    $scope.selectedHotel = undefined;

    $scope.hotelTotalItems = 0;
    $scope.hotelCurrentPage = 1;
    $scope.hotelItemsPerPage = 10;
    $scope.hotelMaxSize = 10;
    $scope.hotelLoadingPromise = null;
    $scope.hotelModalLoadingPromise = null;

    $scope.searchProvider = undefined;
    $scope.searchHotelName = undefined;
    $scope.searchCityName = undefined;


    $scope.currentHotel={};
    $scope.changeHotelName;
    $scope.changeDistrictName;
    $scope.changeBusinessName;
    $scope.flag;//0 添加 1 修改
    $scope.hotelIndex;


    var roomtypes = [];
    var currentEditRoomMapping = {};
    var currentEditHotelMapping = {};
    var districts = [];

    $scope.roomtypeHref=function(id){

        var url="/hotel/"+id+"/roomtype/";
        
        window.location.href=url;


    }

    function checkNull(params){
        
        if(params==null||params==undefined){
            return "";
        }else {
            return parseFloat(params);
        }
    }

    function checkStrNull(params){
        
        if(params==null||params==undefined||params==""){
            return "";
        }else {
            return params;
        }
    }

    $scope.savetest=function(){
        console.log($scope.currentHotel);
        if($scope.currentHotel['business_zone']==undefined||$scope.currentHotel['business_zone']==0){
            console.log("uuu");
            $scope.currentHotel['business_zone']={id:""};

        }
        var params={

            'name':$scope.currentHotel.name, 
            'star':parseInt($scope.currentHotel.star), 
            'facilities':$scope.currentHotel.facilities, 
            'blog':parseFloat($scope.currentHotel.blog), 
            'blat':parseFloat($scope.currentHotel.blat), 
            'glog':checkNull($scope.currentHotel.glog), 
            'glat':checkNull($scope.currentHotel.glat), 
            'city_id':parseInt($scope.getCityId($scope.changeHotelName)),
            'district_id':parseInt($scope.currentHotel.district_id), 
            'address':$scope.currentHotel.address,
            'business_zone':checkNull($scope.currentHotel['business_zone']['id']), 
            'phone':checkStrNull($scope.currentHotel.phone), 
            'traffic':checkStrNull($scope.currentHotel.traffic), 
            'description':checkStrNull($scope.currentHotel.description), 
            'require_idcard':parseInt($scope.currentHotel.require_idcard), 
            'is_online':parseInt($scope.currentHotel.is_online),
            'foreigner_checkin':parseInt($scope.currentHotel.foreigner_checkin)


        };

        
        console.log(params);


        if($scope.flag==0){

        $http.post('/api/hotel/',params)
        .success(function(resp) {
            console.log(resp);
            if (resp.errcode == 0) {

                var hotelResult=resp.result.hotel;
                hotelResult['business_zone']={id:resp.result.hotel.business_zone};

                $scope.searchHotels.push(hotelResult);
               
                
            } else {
                alert(resp.errmsg);
            }
        })
        .error(function() {
        });
        }else if($scope.flag==1){

            var url='/api/hotel/'+$scope.currentHotel.id;

            $http.put(url,params)
            .success(function(resp) {
            console.log(resp);
            if (resp.errcode == 0) {

                $scope.searchHotels[$scope.hotelIndex]=resp.result.hotel;

                $scope.searchHotels[$scope.hotelIndex]['business_zone']={id:resp.result.hotel.business_zone};
               
                
            } else {
                alert(resp.errmsg);
            }
        })
        .error(function() {
        });

        }



    }



    $scope.cityBlur=function(){
        console.log("44");
        $scope.changeDistrictName={};
        $scope.changeBusinessName={};
        var city_id=$scope.getCityId($scope.changeHotelName);
        if(city_id==-1){
            return;
        }

        var districtUrl="/api/city/"+$scope.getCityId($scope.changeHotelName)+"/district/";

        console.log(districtUrl);

        $http.get(districtUrl)
        .success(function(resp) {
            console.log(resp);
            if (resp.errcode == 0) {
                $scope.changeDistrictName=resp.result.districts;
                
            } else {
                alert(resp.errmsg);
            }
        })
        .error(function() {
        });

        var bussinessUrl="/api/city/"+$scope.getCityId($scope.changeHotelName)+"/businesszone";

        console.log(bussinessUrl);

        $http.get(bussinessUrl)
        .success(function(resp) {
            console.log(resp);
            if (resp.errcode == 0) {

               $scope.changeBusinessName=resp.result.business_zones;
                
            } else {
                alert(resp.errmsg);
            }
        })
        .error(function() {
        });
    }



    

    $http.get("/api/city")
        .success(function(resp) {
            if (resp.errcode == 0) {
                $scope.citys = resp.result.citys;
            }
        });
    $http.get("/api/district")
        .success(function(resp) {
            if (resp.errcode == 0) {
                districts = resp.result.districts;
            }
        });

    function loadHotelMappings(start, limit, city_id, hotel_name) {
        var url = "/api/hotel/search?count_total=1&start=" + start + "&limit=" + limit;
        
        if (city_id != undefined) {
            url += ("&city_id=" + city_id);
        }
        if (hotel_name != undefined) {
            url += ("&name=" + hotel_name);
        }
        console.log(url);

        $http.get(url)
            .success(function(data) {
                console.log(data);
                if (data.errcode == 0) {
                    var result = data.result;
                    $scope.searchHotels = result.hotels;
                    //roomtypes = result.roomtypes;

                    $scope.totalItems = result.total;
                    $scope.currentPage = Math.floor(result.start / result.limit) + 1;
                    $scope.itemsPerPage = result.limit;
                } else {
                    alert(data.errmsg);
                }
            })
            .error(function(data, status){
                if (status != 0) {
                    alert("网络错误");
                }
            });
    }


    $scope.getModifyBaseRoomTypeUrl = function(roomtypes) {
        if (roomtypes.length > 0) {
            return "/hotel/" + roomtypes[0].hotel_id + "/roomtype/";
        } else {
            return "javascript: void(0)"
        }

    }

    $scope.show=function(){
        $scope.currentHotel={};
        $scope.changeHotelName="";
        $scope.flag="0";

        $('#modal-roomtype').modal({
            keyboard: true
        });
        $('#modal-roomtype').modal('show');

    }

    $scope.showRoomType = function(searchHotels,index) {

        $scope.hotelIndex=index;

        $scope.currentHotel={};
        //$scope.currentHotel=searchHotels;

        $scope.currentHotel.address=searchHotels.address;
        $scope.currentHotel.blat=searchHotels.blat;
        $scope.currentHotel.blog=searchHotels.blog;
        $scope.currentHotel.business_zone=searchHotels.business_zone;
        $scope.currentHotel.city_id=searchHotels.city_id;
        $scope.currentHotel.description=searchHotels.description;
        $scope.currentHotel.district_id=searchHotels.district_id;
        $scope.currentHotel.facilities=searchHotels.facilities;
        $scope.currentHotel.glat=searchHotels.glat;
        $scope.currentHotel.glog=searchHotels.glog;
        $scope.currentHotel.is_online=searchHotels.is_online;
        $scope.currentHotel.name=searchHotels.name;
        $scope.currentHotel.phone=searchHotels.phone;
        $scope.currentHotel.require_idcard=searchHotels.require_idcard;
        $scope.currentHotel.star=searchHotels.star;
        $scope.currentHotel.traffic=searchHotels.traffic;
        $scope.currentHotel.id=searchHotels.id;
        $scope.currentHotel.foreigner_checkin=searchHotels.foreigner_checkin;

        


        $scope.changeHotelName=$scope.getCity($scope.currentHotel.city_id);
        $scope.cityBlur();
        $scope.flag="1";

        console.log('1111111');

        $('#modal-roomtype').modal({
            keyboard: true
        });
        $('#modal-roomtype').modal('show');
    }


    $scope.getDistrict = function(district_id) {
        for (var i = 0; i < districts.length; i++) {
            if (districts[i].id == district_id) {
                return districts[i].name;   
            }
        }
        return '';
    }
    $scope.getDistrictId = function(name) {
        for (var i = 0; i < districts.length; i++) {
            if (districts[i].name == name) {
                return districts[i].id;   
            }
        }
        return -1;
    }
    $scope.getCity = function(city_id) {
        for (var i = 0; i < $scope.citys.length; i++) {
            if ($scope.citys[i].id == city_id) {
                return $scope.citys[i].name;   
            }
        }
        return '';
    }

    $scope.getCityId = function(city) {
        for (var i = 0; i < $scope.citys.length; i++) {
            if ($scope.citys[i].name == city) {
                return $scope.citys[i].id;   
            }
        }
        return -1;
    }

    

    function getProviderId(provider_name) {
        for (var i = 0; i < $scope.providers.length; i++) {
            var provider = $scope.providers[i];
            if (provider.name == provider_name) {
                return provider.chain_id;
            }
        }

        return null;
    }

    $scope.setValid = function(mapping) {
        if(!confirm('Pass?')) {
            return;
        }
        $http.put("/api/firstvalid/hotel/" + mapping.id + "/valid/")
            .success(function(resp) {
                if (resp.errcode == 0) {
                    alert('success');
                    mapping.status = resp.result.status;
                } else {
                    alert(resp.errmsg);
                }

            })
            .error(function() {
                alert("network error");
            });
    }

    


    $scope.$watch('changeHotel.cityName', function() {
        city_id = $scope.getCityId($scope.changeHotel.cityName);
        $scope.districts_by_city = [];
        
        for (var i = 0; i < districts.length; i++) {
            if (districts[i].city_id == city_id) {
                $scope.districts_by_city.push(districts[i]);
            }
        }

    });

    $scope.selectHotel = function(hotel) {
        $scope.selectedHotel = hotel;
    }

    $scope.hotelPageChanged = function() {
        $scope.queryHotel();
    }

    $scope.searchHotel = function () {
        $scope.hotelCurrentPage = 1;
        $scope.hotelItemsPerPage = 10;
        $scope.queryHotel();
    }

    $scope.queryHotel = function() {
        var url = '/api/hotel/search?';
        var start = ($scope.hotelCurrentPage - 1) * $scope.hotelItemsPerPage
        var limit = $scope.hotelItemsPerPage;

        url += ('start=' + start + '&limit=' + limit + '&');

        var city_id = $scope.getCityId($scope.changeHotel.cityName);
        var district_id = $scope.getDistrictId($scope.changeHotel.districtName);
        var name = $scope.changeHotel.name;
        var star = $scope.changeHotel.star;


        if (city_id != -1) {
            url += 'city_id=' + city_id + '&';
        }
        if (district_id != -1) {
            url += 'district_id=' + district_id + '&';
        }
        if (name != undefined) {
            url += 'name=' + name + '&';
        }
        if (star != undefined && star != 'any') {
            url += 'star=' + star;
        }
        $scope.hotelLoadingPromise = $http.get(url)
            .success(function(resp) {
                if (resp.errcode == 0) {
                    $scope.searchHotels = resp.result.hotels;
                    $scope.hotelTotalItems = resp.result.total;
                    $scope.hotelItemsPerPage = resp.result.limit;
                    $scope.hotelCurrentPage = Math.floor(resp.result.start / resp.result.limit) + 1;
                    $scope.selectedHotel = undefined;
                } else {
                    alert(resp.errmsg);
                }
            })
            .error(function(){
                alert('network erroe');
            }) 

    }

    

    $scope.pageChanged = function() {
        var params = $location.search();
        params.start = ($scope.currentPage - 1) * $scope.itemsPerPage;
        params.limit = $scope.itemsPerPage;
        $location.search(params);
    };



    $scope.$watch(function() {
        return $location.url();
    },
    function() {
        console.log("watch");
        var params = $location.search();
        var start = params.start != undefined ? params.start : 0;
        var limit = params.limit != undefined ? params.limit : 10;
        var city_id = params.city_id;
        var hotel_name = params.hotel_name;
        loadHotelMappings(start, limit, city_id, hotel_name);

    });



    $scope.search = function() {
       
        console.log($scope.searchHotelName);
        console.log($scope.searchCityName);

        var provider_id;
        

        var city_id = $scope.getCityId($scope.searchCityName);

        var urlParams = {};
               
        if (city_id != -1) {
            urlParams.city_id = city_id;
        }
        if ($scope.searchHotelName != undefined) {
            urlParams.hotel_name = $scope.searchHotelName;
        }

        console.log(urlParams);
        $location.search(urlParams);
    }

    $scope.resetSearch = function() {
        $scope.searchProvider = 'any';
        $scope.searchHotelName = undefined;
        $scope.searchCityName = undefined;

        $location.search({});
    }

    function cloneRoomType(from, to) {
        if (from == undefined) {
            to.area = undefined;
            to.bed_type = undefined;
            to.capacity = undefined;
            to.comments = undefined;
            to.description = undefined;
            to.floor = undefined;
            to.id = undefined;
            to.is_online = undefined;
            to.is_valid = undefined;
            to.name = undefined;
        }
        $.extend(to, from);
    }

    $scope.getBedNameByType = getBedNameByType;
    $scope.getProviderBedNameByType = getProviderBedNameByType;

    

    
}]);

</%def>

<%def name="end()">
    ${parent.end()}
    <script src="${static_url('js/angular-busy.min.js')}"></script>
    <script src="${static_url('js/hotel_helper.js')}"></script>
</%def>

<%def name="head()">
    ${parent.head()}
    <link href="${static_url('css/angular-busy.min.css')}" rel="stylesheet">
</%def>
