
                <div class="row">
                    <label class="col-sm-2">名称:</labe# -*- coding: utf-8 -*-

<%inherit file="nav_frame.html" />

<%!
from models.hotel_mapping import HotelMappingModel
from models.room_type_mapping import RoomTypeMappingModel
%>

<%def name="body_define()">
    id="ng-app"
    ng-app="validapp"
    ng-controller="validController"
</%def>

<%def name="content()" >

<div class="container">
    <div class="cow" style="margin-top: 20px">
        <div class="col-lg-3">
            <select class="form-control"
                data-ng-model="searchProvider"
                style="argin-top:6px;">
                <option >任意</option>
                <option data-ng-repeat="provider in providers">{{provider.name}}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <input class="form-control floating-label" type="text"
                data-ng-model="searchHotelName"
                placeholder="酒店名称">
        </div>
        <div class="col-lg-3">
            <input class="form-control floating-label" type="text"
                data-ng-model="searchCityName"
                typeahead="city.name for city in citys | filter:$viewValue | limitTo:8"
                placeholder="城市">
            <select ng-model="showOnlineType" convert-to-number>
              <option value=0>全部</option>
              <option value=1>上线</option>
              <option value=2>下线</option>
            </select>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary pull-left" data-ng-click="search()" style="margin-top: -7px">搜索</button>
            <button class="btn btn-default pull-left" data-ng-click="resetSearch()" style="margin-top: -7px; margin-left: 5px">重置</button>
            <button type="buttion" class="btn btn-primary pull-left" style="margin-top: -7px; margin-left: 5px" ng-click="show()">批量上下线酒店</button>
        </div>

    </div>

    <div class="row">
        <h4 class="col-md-6 title">供应商酒店</h3>
        <h4 class="col-md-6 title">基础酒店</h3>
    </div>

    <div class="row panel panel-default" ng-repeat="mapping in hotelMappings" ng-if="!mapping.is_delete && mapping.status == ${HotelMappingModel.STATUS.valid_complete}">
        <div class=" panel-body clearfix">
            <div class="col-md-1 " style="margin-top:0; margin-buttom: 0;">
                <span class="glyphicon glyphicon-chevron-down" ng-click="mapping.isCollapsed = !mapping.isCollapsed" data-ng-show="mapping.roomtype_mappings.length > 0"></span>
                <p class="pull-right text-center" ng-bind="getProvider(mapping.provider_id).name"></p>
            </div>
            <div class="col-md-2 ">
                <b><p class="text-primary text-center" data-ng-bind="mapping.provider_hotel_name"></p></b>
                {{mapping.provider_hotel_id}}
            </div>
            <div class="col-md-2 ">
                <p class="text-center" data-ng-bind="mapping.provider_hotel_address"></p>
            </div>

            <div class="col-md-1 ">
                <span class="span-center glyphicon glyphicon-arrow-right"></span>
            </div>

            <div class="col-md-2 " style="margin-top:0; margin-buttom: 0;">
                <b><a class="text-center text-primary" ng-bind="mapping.main_hotel.name" data-ng-click="showHotelInfo(mapping)"></a></b>
                <br/>{{mapping.main_hotel_id}}
            </div>
            <div class="col-md-2 ">
                <p class="text-center" data-ng-bind="mapping.main_hotel.address"></p>
            </div>
            <div class="col-md-2">
                <i class="btn btn-primary btn-raised mdi-navigation-close pull-left hotel-mapping-btn"
                    data-ng-click="rejectHotel(mapping)" data-ng-show="mapping.status == ${HotelMappingModel.STATUS.valid_complete}"></i>
                <toggle-switch
                    class="hotel-switch pull-right"
                    ng-model="mapping.toggle"
                    ng-click="hotelOnline(mapping)"
                    data-ng-show="mapping.status == ${HotelMappingModel.STATUS.valid_complete}">
                </toggle-switch>

            </div>
        </div>

        <div class="panel-footer" collapse="mapping.isCollapsed || mapping.roomtype_mappings.length == 0">
            <div class="row" style="margin: 10px;" ng-repeat="room_mapping in mapping.roomtype_mappings" data-ng-if="room_mapping.status ==${RoomTypeMappingModel.STATUS.valid_complete}">
                <div class="col-sm-1">
                    <p ng-cloak>{{ room_mapping.provider_roomtype_id }}</p>
                </div>
                <div class="col-sm-2">
                    <a class="text-center text-primary" data-ng-click="showRoomType(room_mapping)" ng-cloak><b>{{ room_mapping.provider_roomtype_name }}</b></a>
                    <br/>{{room_mapping.provider_roomtype_id}}
                    <p>{{getBedNameByType(room_mapping.provider_roomtype.bed_type)}}</p>
                </div>
                <div class="col-sm-1">
                    <span class="span-center glyphicon glyphicon-arrow-right"></span>
                </div>
                <div class="col-sm-2">
                    <a class="text-center text-primary" data-ng-click="showRoomType(room_mapping)" ng-cloak><b>{{ room_mapping.main_roomtype.name }}</b></a>
                    <br/>{{room_mapping.main_roomtype_id}}
                    <p>{{getBedNameByType(room_mapping.provider_roomtype.bed_type)}}</p>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1 ">
                    <i class="btn btn-primary btn-sm room-mapping-btn  mdi-navigation-close pull-right"
                        data-ng-disabled="mapping.status != ${HotelMappingModel.STATUS.valid_complete}"
                        data-ng-show="room_mapping.status == ${RoomTypeMappingModel.STATUS.valid_complete}"
                        data-ng-click="rejectRoomMapping(room_mapping)" >
                    </i>
                </div>
                <div class="col-sm-1">
                    <toggle-switch
                        ng-model="room_mapping.toggle"
                        class="room-switch "
                        data-ng-disabled="room_mapping.main_roomtype_id == 0 ||  mapping.status != ${HotelMappingModel.STATUS.valid_complete} || mapping.is_online == 0"
                        data-ng-show="room_mapping.status == ${RoomTypeMappingModel.STATUS.valid_complete}"
                        ng-click="roomOnline(mapping, room_mapping)">
                    </toggle-switch>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <nav style="text-align: center">
            <pagination ng-hide="searchMode" total-items="totalItems" ng-model="currentPage" boundary-links="true" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" ></pagination>
            <input type="text" id="page_text" value="" size="5"  />
        </nav>
    </div>
</div>

<div class="modal" id="modal-hotel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">酒店信息</h4>
            </div>
            <div class="modal-body">l>
                    <p class="col-sm-10">{{dialogHotel.name}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">地址:</label>
                    <p class="col-sm-10">{{dialogHotel.address}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">城市:</label>
                    <p class="col-sm-10">{{getCity(dialogHotel.city_id)}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">地区:</label>
                    <p class="col-sm-10">{{getDistrict(dialogHotel.district_id)}}</p>
                </div>
                <div class="row">
                    <label class="col-sm-2">星级:</label>
                    <rating ng-model="dialogHotel.star" max="5" readonly="true"></rating>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal-roomtype">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">房型信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h3 class="col-lg-5 col-lg-offset-2"><b>供应商</b></h3>
                    <h3 class="col-lg-5"><b>基础</b></h3>
                </div>
                <div class="row">
                    <label class="col-lg-2">名称:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.name}}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.name}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">面积:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.area}}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.area}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">床型:</label>
                    <p class="col-lg-5">{{getProviderBedNameByType(dialogProviderRoomType.bed_type)}}</p>
                    <p class="col-lg-5">{{getBedNameByType(dialogMainRoomType.bed_type)}}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">楼层:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.floor }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.floor }}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">入住人数:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.capacity }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.capacity }}</p>
                </div>
                <div class="row">
                    <label class="col-lg-2">描述:</label>
                    <p class="col-lg-5">{{dialogProviderRoomType.description }}</p>
                    <p class="col-lg-5">{{dialogMainRoomType.description }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-onlineall">
    <div class="modal-dialog" style="width: 960px; height: 756px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">批量上下线--------请谨慎批量上下线</h4>
            </div>
            <div class="modal-body">

                <div class="row rowstyle">
                    <label class="col-lg-3" >
                        <font size="4" color="red">*&nbsp;</font>供应商:
                    </label>
                   <label class="col-lg-9" id="providers">
                       <div class="supply-section" style="height: auto;">
                               <div class="m"></div>
                       </div>
                   </label>
                </div>
                <div class="row rowstyle">
                    <div class="col-lg-3">
                        <label>
                            <input class="form-control floating-label" type="text"
                                data-ng-model="searchProvinceName.selected"
                                typeahead="province.name for province in provinces | filter:$viewValue | limitTo:8"
                                placeholder="省份">
                        </label>
                    </div>
                    <div class="col-lg-9" id="citys">
                        <div class="supply-section">
                               <div class="m"></div>
                       </div>
                    </div>
                </div>
                <div class="row rowstyle">
                    <div class="col-lg-6">
                        <input class="form-control floating-label" type="text"
                            data-ng-model="searchstartDate"
                            placeholder="开始时间" style="margin-top:15px;" id="liveStarTime">
                    </div>
                     <div class="col-lg-6">
                        <input class="form-control floating-label" type="text"
                            data-ng-model="searchendDate"
                            placeholder="结束时间" style="margin-top:15px;" id="liveEndTime">
                    </div>
                </div>
                <div class="row rowstyle">
                    <div class="col-lg-6" style="color: red;" align="center" ng-bind="multi_line_msg"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="multiOnline()">批量上线</button>
                <button type="button" class="btn btn-primary" data-ng-click="multiOffline()">批量下线</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--loading-->
<div class="messageDiv" ng-show="ifloading" style="z-index:999999" ng-cloak>
    <div class="messageBlack">
        <img style="width: 90px;height: 90px;position: absolute;left: 50%;top: 50%;
             margin-top: -50px;margin-left: -50px;" src="${static_url('image/load1.gif')}"/>
    </div>
</div>
</%def>


<%def name="css()">
${parent.css()}

h4.title {
    text-align: center;
}

.span-center {
    width: 100%;
    text-align: center;
}

p.text-center {
    margin: 0 0 0 0;
    text-align: center;
    verial-align: center;
}

.hotel-mapping-btn {
    margin: 0px -10px 0px 0px;
}

.room-mapping-btn {
    margin: -7px 0px 0px 0px;
}

.hotel-switch {
    border: 0px;
    min-width: 50px;
}

.room-switch {
    border: 0px;
    min-width: 50px;
    margin-top: -7px;
}

</%def>

<%def name="end()">
    ${parent.end()}
    <script src="${static_url('js/angular-toggle-switch.min.js')}"></script>
    <script src="${static_url('js/hotel_helper.js')}"></script>

    <script type="text/javascript" src="${static_url('js/bootstrap.min.js')}"></script>
    <script type="text/javascript" src="${static_url('js/bootstrap-datepicker.js')}"></script>
    <script type="text/javascript" src="${static_url('js/bootstrap-datepicker.zh-CN.min.js')}"></script>
    <script type="text/javascript" src="${static_url('js/polymer.js')}"></script>
</%def>

<%def name="head()">
    ${parent.head()}
    <link href="${static_url('css/angular-toggle-switch.css')}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="${static_url('css/bootstrap-datepicker3.css')}">
</%def>
